<header class="header-section sticky-header d-none d-lg-block section-fluid-200">
    <div class="header-wrapper">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <!-- Start Header Logo -->
                    <a href="index.html" class="header-logo">
                        <img src="assets/frontend/images/logo/logo.png" alt="">
                    </a>
                    <!-- End Header Logo -->
                </div>
                <div class="col-auto d-flex align-items-center">
                    <!-- Start Header Menu -->
                    <ul class="header-nav">
                        <li><a href="index.html">Home</a></li>
                        <li class="has-dropdown">
                            <a href="service-list.html">Service</a>
                            <ul class="submenu">
                                <li><a href="service-list.html">Services</a></li>
                                <li><a href="service-details.html">Service Details</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="portfolio-list.html">Project</a>
                            <ul class="submenu">
                                <li><a href="portfolio-list.html">Project</a></li>
                                <li><a href="portfolio-details.html">Project Details</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="index.html">Pages</a>
                            <ul class="submenu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="404-error.html">404 Page</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="blog-list-left-sidebar.html">Blogs</a>
                            <ul class="submenu">
                                <li><a href="blog-list-left-sidebar.html">Blog List Left Sidebar</a></li>
                                <li><a href="blog-list-right-sidebar.html">Blog List Right Sidebar</a></li>
                                <li><a href="blog-list-full-width.html">Blog List Full Width</a></li>
                                <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                                <li><a href="blog-details-right-sidebar.html">Blog Details Right Sidebar</a></li>
                                <li><a href="blog-details-full-width.html">Blog Details Full Width</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <!-- End Header Menu -->
                </div>
                <div class="col-auto">
                    <div class="header-btn-link">
                        <a href="contact.html" class="btn btn-lg btn-default">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>