<div class="sidebar-wrapper">
    <!-- Start Sidebar Widget Single Item - Search -->
    <div class="sidebar-widget-singel-item widget-box-bg gray-bg">
        <h4 class="title">Search</h4>
        <form class="widget-search" action="#" method="post">
            <input type="search" placeholder="Search here" required>
            <button type="submit"><i class="icofont-search-1"></i></button>
        </form>
    </div>
    <!-- End Sidebar Widget Single Item - Search -->

    <!-- Start Sidebar Widget Single Item - Service Catagory -->
    <div class="sidebar-widget-singel-item widget-box-bg gray-bg">
        <h4 class="title">Category</h4>
        <ul class="widget-catagory">
            <li><a href=""><i class="icofont-double-right"></i>Creative Solution</a></li>
            <li><a href=""><i class="icofont-double-right"></i>Website Development</a></li>
            <li><a href=""><i class="icofont-double-right"></i>Product Development</a></li>
            <li><a href=""><i class="icofont-double-right"></i>Data Visualization</a></li>
        </ul>
    </div>
    <!-- End Sidebar Widget Single Item - Service Catagory -->

    <!-- Start Sidebar Widget Single Item - Side Banner -->
    <div class="sidebar-widget-singel-item sidebar-banner">
        <div class="image text-center">
            <img class="img-fluid" src="/assets/frontend/images/background/banner-img-1.png" alt="">
        </div>
        <div class="d-flex justify-content-center">
            <a href="contact.html" class="btn btn-lg btn-default-alt icon-right">Get Started <i class="icofont-double-right"></i></a>
        </div>
    </div>
    <!-- ENd Sidebar Widget Single Item - Side Banner -->

    <!-- Start Sidebar Widget Single Item - Tags -->
    <div class="sidebar-widget-singel-item widget-box-bg">
        <h4 class="title">popular tags</h4>
        <ul class="widget-tags">
            <li><a href="">Agency</a></li>
            <li><a href="">Company</a></li>
            <li><a href="">Business</a></li>
            <li><a href="">Startup</a></li>
            <li><a href="">Marketing</a></li>
            <li><a href="">Cleaner</a></li>
            <li><a href="">Corporate</a></li>
            <li><a href="">Brand</a></li>

        </ul>
    </div>
    <!-- End Sidebar Widget Single Item - Tags -->
</div>