<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="/assets/vendors/fontawesome/css/all.min.css">

</head>
<body>

<div class="container">

    {% block content %}

    {% endblock %}
</div>


<!-- Optional JavaScript -->


<script src="../assets/vendors/bootstrap/js/bootstrap.bundle.min.js" ></script>
<scritp src="../assets/vendors/bootstrap/js/bootstrap.min.js"></scritp>
</body>
</html>